body{
    margin: 0;
}
.top-bar{
    width: 100%;
    height: 70px;
    background-color: darkcyan;
    display: flex;
    align-items: center;
}

.text-id{
    color: white;
    font-size: 24px;
    margin-left: 20px;
    display: flex;
    align-content: center;
    box-sizing: border-box;
    margin-right: 20px;
}

.but-aceptar{
    margin-left: 10px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.square-lan{
    height: 150px;
    width: 220px;
    background-color: darkturquoise;
    border: 3px solid;
    border-radius: 15px 50px;
}

.but-x{
    margin-top: 20px;
    margin-left: 20px;
}

.square-text{
    margin-top: 20px;
    margin-left: 20px;
}

.list-lvl{
    margin-left: 20px;
}

.mid-res{
    font-size: 22px;
}

.weather{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}